################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab_3/.vs/Lab_3.slnx/FileContentIndex
